<!DOCTYPE html>
    <html>
    <head>
        <title>Books & Authors</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <style>
            body{
                padding: 25px;
            }
            div{
                margin: 50px;
                display: inline-block;
                vertical-align: top;
            }
            textarea{
                height: 75px;
                width: 150px;
                resize: none;
            }
        </style>
    </head>
    <body>
        <a href="/">Books Page</a>
        <div>
            <h2>Add an Author</h2>
            <form action='/add_author' method='post'>
                {% csrf_token %}
                <p>First Name: <input type="text" name="fname"></p>
                <p>Last Name: <input type="text" name="lname"></p>
                <p>Notes: <textarea name="notes"></textarea></p>
                <input type="submit" value="Add">
            </form>
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for author in all_authors %}
                    <tr>
                        <td>{{ author.id }}</td>
                        <td>{{ author.first_name }} {{ author.last_name }}</td>
                        <td><a href="/authors/{{ author.id }}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>