<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_book.css' %}">
    
</head>
<body>
    <div class="contenedor">
        <div class="header">
            <h2>{{ this_book.title }}</h2>
        </div>
        <section class='book_desc'>
            <p>ID: {{ this_book.id }}</p>
            <p>Description: {{ this_book.desc }}</p>
            <p>Authors:</p>
            <ul>
                {% for auth in associate_author %}
                <li>{{ auth.first_name }} {{ auth.last_name }}</li>
                {% endfor %}
            </ul>
        </section>
        <div class="forma">
            <form action='/add_auth_to_book/{{ this_book.id }}' method='post'>
                {% csrf_token %}
                <select name="auth_id">
                    {% for auth in non_associate_author %}
                    <option value="{{ auth.id }}">{{ auth.first_name }} {{ auth.last_name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add">
            </form>
        </div>
        <a href="/">Back</a>
    </div>
</body>
</html>